body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--columbia-blue);
}

section {
    border: 1px solid gray;
    padding: 45px 45px 35px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border-radius: 8px;
    width: 700px;
}

h3 {
    color: var(--oxford-blue);
}

.user--input {
    padding: 8px;
    width: 100%;
}

.form--submit {
    background-color: var(--oxford-blue);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: 100%;
}