main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
}

.quick--actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.summary {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    flex-wrap: wrap;
}

.summary--card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 calc(30% - 16px);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid darkgreen;
}

.card--text {
    display: flex;
    align-items: center;
    gap: 12px;
}

.reservations--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
}

.list--header {
    padding: 12px;
    width: 100%;
}

.reservations--table {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
}

.table-header {
    background-color: #FAFAFA;
    padding: 8px 12px;
    border-bottom: 1px solid #CCCCCC;
}

td {
    text-align: center;
    padding: 8px 12px;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.action-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status-w-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.delete-reservation-icon {
    fill: black;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.status {
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;
}

.confirmed-status {
    background-color: green;
    color: #b6d7a8;
}

.pending-status {
    background-color: orange;
    color: #f9cb9c;
}