* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif; 

}

/* User Button*/
.user-btn{
    width: 320px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #333;
    border-radius: 30px;
}

.toggle-btn{
    padding: 15px 50px;
    cursor: pointer;
    background: transparent ;
    border: 0;
    outline: none;
    position: relative;
    color: #333;
    z-index: 2;
}

#btn{
    top:0;
    left: 0;
    position: absolute;
    width: 160px;
    height: 100%;
    background-color: #fff;
    border-radius: 30px;
    transition: .5s;
    z-index: 1;
}

body{
    display:flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/images/DLSU.jpg') no-repeat;
    background-size: cover;
    background-position: center;

}

.main-register{
    width: 620px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.main-register h1{
    font-size: 36px;
    text-align: center;
}

.main-register .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

/*Name*/
.two-forms{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 80px;

}

.input-box input::placeholder{
    color: #fff;
}


.main-register .terms{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.terms label input{
    accent-color: #fff;
    margin-right: 5px;
}

.terms a{
    color: #fff;
    text-decoration: none;
}

.main-register .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, -1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.main-register .login-register{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-register p a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover{
    text-decoration: underline;
}
