@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=National+Park:wght@200..800&family=Outfit:wght@100..900&display=swap');

:root {
    --columbia-blue: #B9D6F2;
    --oxford-blue: #061A40;
    --sapphire: #0353A4;
    --bic3-blue: #006DAA;
    --prussian-blue: #003559;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
}

.user--input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}