<div class="main-forgot">
    <form id="passwordForm" novalidate>
        <div class="back">
            <a href="/" class="backToMain" > <i class="bi bi-arrow-bar-left"></i>Back</a>
        </div>
        
        <form action="">
            <h1>Forgot Password</h1>
            <div class="input-box form-control">
                <input type="email" id="email"  placeholder="DLSU Email" required>
                <small>Error message</small>
            </div>

            <div class="input-box form-control">
                <input type="password" id="password" placeholder="Password" required>
                <small>Error message</small>
            </div>

            <div class="input-box form-control">
                <input type="password"  id="confirmPassword" placeholder="Confirm Password" required>
                <small>Error message</small>
            </div>
            <button type="submit" class="btn">Reset Password</button>
        </form>
    </form>
</div>