.create--account--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.details {
    width: 100%;
    display: flex;
    gap: 16px;
}

.field {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 4px;
}

.user--input {
    width: 100%;
}

.back--to--index {
    align-self: flex-start;
    color: black;
    font-size: 14px;
}

.back--to--index:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}