main {
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

.lab--list {
    padding: 20px;
}

.lab--rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lab--room {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding: 12px;
    border: 1px solid var(--oxford-blue);
    width: 80%;
}