<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    {{#if stylesheets}}
        {{#each stylesheets}}
            <link rel="stylesheet" href="/styles/{{this}}">
        {{/each}}
    {{/if}}
    {{#if scripts}}
        {{#each scripts}}
            <script src="/src/{{this}}" defer></script>
        {{/each}}
    {{/if}}
</head>
<body>
    {{{body}}}
</body>
</html>